<!doctype html>
<html lang="ru">
<%- include("./common/head"); %>
<body>
<div class="uk-container">
    <h1>404 page</h1>
    <p>Sorry page <b><%= url %></b> not found</p>
    <a href="/">Back Home page</a>
</div>
</body>
</html>
