<!doctype html>
<html lang="ru">
<%- include("./common/head"); %>
<body>
    <div class="uk-container">
        <%- include("./common/navbar"); %>
        <h1>Template Ejs</h1>
    </div>
</body>
</html>
